.card {
  background: var(--interactive-brand-default);
  border-radius: var(--radius-lg);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
  padding: var(--spacing-5);
  flex-shrink: 0;
  width: 100%;
  overflow: hidden;
}

.title {
  font-weight: 500;
}
