.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
  align-items: flex-start;
  padding: var(--spacing-5);
  border-radius: var(--radius-lg);
  background-color: var(--interactive-brand-default);
}
