.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
  padding: var(--spacing-4);
  border-radius: var(--radius-lg);
  border: var(--border-width-default) solid var(--border-default);
  background-color: var(--neutrals-surface);
}

.active {
  border-color: var(--accents-brand);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerStart {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-2);
  align-items: center;
}
