.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--neutrals-background);
}

.board {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-6);
  align-items: flex-start;
  padding: var(--spacing-6) var(--spacing-8) var(--spacing-8);
}
